# Dependencies
node_modules
.pnpm-store

# Build artifacts
/.next/
/dist/
/.turbo/

# Local Environment Variables
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & OS files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# related to description.md
PROJECT_BRIEF.md